@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Kalnia:wght@500&family=Playfair+Display&family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

body , html{
    margin : 0;
    border: none;
    position: relative;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* top: 10px; */
}
.home-content{
    gap: 20px;
}
.navbar{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #13072E;
}

@media (max-width:992px){
    .navbar{
        
        position: relative;
        width: 100%;
        
    }
}

.navbar li a{
    color: white;
}

.nav-link.active{
    background-color: #3f2182;
}
.signup{
    background-color: white;
    /* padding: 6px; */
    border-radius: 20px;
    margin-right: 30px;
    
}
.nav-item.signup a{
    color: #13072E;
}
.fs-4{
    color: white;
}

.start{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #13072E;
    padding: 10px;
    font-family: 'Abril Fatface', serif;
font-family: 'Alice', serif;
font-family: 'Kalnia', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    color: black;

}
.font{

  font-family: 'Alice', serif;
  color: white;
}

.tag{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgb(236, 168, 236);
}

/* Form style */

.group 			  { 
    position:relative; 
    margin-bottom:30px; 
  }
  input 				{
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    background-color: transparent;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#13072E;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#13072E; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

  .group .sb{
        color: whitesmoke;
        background-color: #13072E;
        border-radius: 20px;
        transition-duration: 0.3s;
  }

  .sb:hover{
    scale: 1.05;
  }
